PORT=8000
MONGODB_URI=mongodb+srv://kinshuklit2005:yourpasswprd@cluster0.0nlgged.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=kk_d
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=k_sa
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dz8ecnv1f
CLOUDINARY_API_KEY=734689284758871
CLOUDINARY_API_SECRET=RqqDcszBb-liNreuFCjiIOjvOwk


